<%- include('../includes/header'); %>
<a href="/">Visa samtliga dokument</a>
    <h2>Skapa dokument</h2>
    <form method="POST" action="/document" class="new-doc">

        <label for="title">Titel</label>
        <input type="text" name="title" placeholder="L채gg till titel" />

        <label for="content">Inneh책ll</label>
        <textarea name="content" placeholder="L채gg till inneh책ll"></textarea>

        <input type="submit" value="Skapa Dokument" />
    </form>
<%- include('../includes/footer'); %>